button {
  background-color: #1292ee;
  color: #fff;
  font-size: 0.8rem;
  padding: 5px 9px;
  border-radius: 5px;
  margin-left: 7x;
  margin-right: 0;
}

a {
  //color: #212529;
  color: #1292ee;
  padding-left: 10px;
  font-size: 0.9rem;

  //font-weight: bold;
}
