@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  max-width: 700px;
  min-width: 500px;
  margin: 0 auto;
  //margin-top: 5rem;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.7);
  height: 500px;
  border-radius: 12px;
  padding: 10px;
  //opacity: 0;
  //scale: 0;
  transition: all ease-in-out 0.3s;

  // &.hide {
  //   opacity: 0;
  //   scale: 0;
  // }
  &.show {
    transition: all 3s ease-in-out;
    opacity: 1;
  }

  .flex {
    display: flex;
    flex-direction: row;
    flex: 1;

    .flexItem {
      flex: 1;
      &:first-child {
        flex: 0 0 20%;
      }
      //display: flex;

      p {
        display: inline-block;
        padding: 5px;
        font-size: 0.8rem;
      }

      button {
        border: 1px solid black;
        color: #fff;
        font-size: 0.8rem;
        margin: 0;
        padding: 5px;
      }

      .cover {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .pop {
        position: absolute;
        z-index: 5;
      }
    }

    .flexItem2 {
      border-left: 3px solid #1292ee;
    }

    .select {
      display: flex;
      flex-direction: column;

      ul {
        list-style: none;
      }
      li {
        color: #fff;
        padding: 7px;
        //border: 1px solid white;
        background: transparent;
        transition: all ease-in-out 0.3s;
        cursor: pointer;

        &:hover {
          background-color: #1292ee;
        }
      }
    }
  }
}

.show {
  transition: all 1000ms ease-in-out;
  opacity: 1;
  scale: 1;
  transform: scale(1);
}

h5 {
  color: rgb(136, 204, 221);
}

.sample {
  height: 50px;
  width: 50px;
}
