.main {
  background-color: #e1f9fb;
  flex-grow: 1;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 4rem;
  padding-left: 5%;
  padding-right: 5%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
