.main {
  //min-height: 50vh;
  //background-color: #ecf9ff;
  background-color: #fff;
  padding: 12px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.header {
  display: flex;
  //justify-content: center;
  align-content: center;
  align-items: center;
  flex: 1;
  h4 {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
  }

  img {
    width: 50px;
    height: auto;
  }

  p {
    margin-left: auto;
    font-size: 0.7rem;
    color: rgb(105, 101, 101);
    span {
      color: #000;
      font-size: 0.8rem;
    }
  }
}
.flex {
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0 auto;

  .flexItem {
    //border: 1px solid blue;
    flex: 1;
    display: flex;
    margin-bottom: 6px;
    margin-top: 6px;
    flex-direction: column;
    min-width: 120px;
    max-width: fit-content;
    margin-right: 7px;

    span {
      padding-top: 0px;
      font-size: 0.9rem;
    }

    .market {
      //border: 1px solid red;
      color: rgb(105, 101, 101);
      font-size: 0.9rem;
    }
  }
}
