.main {
  width: 100%;
  background-color: blue;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 3vw;
}

.logocon {
  max-height: 50px;
  width: fit-content;

  img {
    max-height: 50px;
    object-fit: contain;
  }
}
