.main {
  //min-height: 50vh;
  background-color: #ecf9ff;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.container {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 3vw;
  padding-right: 3vw;
}
